################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

*.aps
*.exe
*.ilk
*.pdb
*.suo
Debug
*.opendb
*.db
